docker swarm init --advertise-addr a.b.c.d
docker network create -d overlay DockerBridge
docker service create --replicas 2 --name nginx -p 80:80 --network DockerBridge nginx
